<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
   <%= require("html-loader!../common/pageNav/index.html") %>
   <section class="team-container">
     <div class="team-wrapper center">
       <h2 class="title">明星设计师介绍</h2>
       <ul class="team-list flex">
         <li class="team-item">
           <img src="/public/images/designer-info.png" alt="">
         </li>
         <li class="team-item">
           <img src="/public/images/designer-info.png" alt="">
         </li>
         <li class="team-item">
           <img src="/public/images/designer-info.png" alt="">
         </li>
         <li class="team-item">
           <img src="/public/images/designer-info.png" alt="">
         </li>
       </ul>
       <div class="center btn-wrap">
        <a href="" class="more-btn">查看更多</a>
       </div>
     </div>
   </section>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/popup/index.html") %>
   <%= require("html-loader!../common/aboutForm/index.html") %>
   <%= require("html-loader!../common/footer/index.html") %>
  <%= require("html-loader!../common/aside/index.html") %>
  </body>
</html>
