<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container swiper-container">
    <ul class="swiper-wrapper">
      <li class="swiper-slide" style="background-image: url(/public/images/home-banner.jpg);"></li>
      <li class="swiper-slide" style="background-image: url(/public/images/home-banner.jpg);"></li>
      <li class="swiper-slide" style="background-image: url(/public/images/home-banner.jpg);"></li>

    </ul>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </section>
  <section class="module process-container">
    <div class="module-title">
      <h2>装修服务流程</h2>
      <div class="note">Decoration service process</div>
    </div>
    <ul class="process-list center flex">
      <li class="process-item">
        <div class="icon iconfont icon-zixun"></div>
        <p>预约咨询</p>
      </li>
      <li class="process-item">
        <div class="icon iconfont icon-wj-xyqd"></div>
        <p>制定方案</p>
      </li>
      <li class="process-item">
        <div class="icon iconfont icon-yanshou"></div>
        <p>量房设计</p>
      </li>
      <li class="process-item">
        <div class="icon iconfont icon-8-Communication"></div>
        <p>预交底</p>
      </li>
      <li class="process-item">
        <div class="icon iconfont icon-qiandinghetong"></div>
        <p>签订合同</p>
      </li>
      <li class="process-item">
        <div class="icon iconfont icon-shigongjiaodi"></div>
        <p>开工交底</p>
      </li>
      <li class="process-item">
        <div class="icon iconfont icon-jiaofangyanshou"></div>
        <p>隐蔽工程验收</p>
      </li>
      <li class="process-item">
        <div class="icon iconfont icon-jianchafenzu"></div>
        <p>中期验收</p>
      </li>
      <li class="process-item">
        <div class="icon iconfont icon-yanshou"></div>
        <p>竣工验收</p>
      </li>
      <li class="process-item">
        <div class="icon iconfont icon-shouhou"></div>
        <p>售后服务</p>
      </li>
    </ul>
  </section>
  <section class="module set-meal-container">
    <div class="center">
      <div class="module-title">
        <h2>装修精品套餐</h2>
        <div class="note">有一种质量较回头客，有一种信任叫“卓尔曼”</div>
      </div>
      <ul class="setmeal-list flex">
        <li class="setmeal-item">
          <div class="img" style="background-image: url(/public/images/setmeal.png);"></div>
          <div class="text">
            <div class="title">经适装修套餐</div>
            <div class="note">专属管家，全程服务，为您规划有关设计、材料、施工、饰后的一切</div>
          </div>
          <button class="btn offer-popup-show">获取套餐报价</button>
        </li>
        <li class="setmeal-item">
          <div class="img" style="background-image: url(/public/images/setmeal.png);"></div>
          <div class="text">
            <div class="title">经适装修套餐</div>
            <div class="note">专属管家，全程服务，为您规划有关设计、材料、施工、饰后的一切</div>
          </div>
          <button class="btn offer-popup-show">获取套餐报价</button>
        </li>
        <li class="setmeal-item">
          <div class="img" style="background-image: url(/public/images/setmeal.png);"></div>
          <div class="text">
            <div class="title">经适装修套餐</div>
            <div class="note">专属管家，全程服务，为您规划有关设计、材料、施工、饰后的一切</div>
          </div>
          <button class="btn offer-popup-show">获取套餐报价</button>
        </li>
      </ul>
      <div class="center btn-wrap">
        <a href="" class="more-btn">查看更多套餐</a>
      </div>
    </div>
  </section>
  <section class="module personality-container">
    <div class="module-title">
      <h2>个性化服装设计</h2>
      <div class="note">风格百变，收纳无BUG，众多家庭的选择</div>
    </div>
    <div class="center clearF">
      <div class="personality-swiper swiper-container fl">
        <ul class="swiper-wrapper">
          <li class="swiper-slide" style="background-image: url(/public/images/setmeal.png);"></li>
          <li class="swiper-slide" style="background-image: url(/public/images/setmeal.png);"></li>
          <li class="swiper-slide" style="background-image: url(/public/images/setmeal.png);"></li>
        </ul>
      </div>
      <div class="fl compute">
        <div class="title">算一算我家装修需要多少钱</div>
        <ul class="tabs clearF">
          <li class="tab fl">
            <input type="radio" id="mfbj" checked name="tabs" value="免费报价">
            <label for="mfbj">
              <i class="icon iconfont icon-gaiicon-"></i>
              <span>免费报价</span>
            </label>
          </li>
          <li class="tab fl">
            <input type="radio" id="mflf" name="tabs" value="免费量房">
            <label for="mflf">
              <i class="icon iconfont icon-juanchi"></i>
              <span>免费量房</span>
            </label>
          </li>
        </ul>
        <select name="" id="">
          <option value="北京">北京</option>
          <option value="其他城市">其他城市</option>
        </select>
        <label for="phone" class="text-input">
          <input type="text" id="phone" placeholder="请输入您的手机号码">
        </label>
        <label for="area" class="text-input">
          <input type="text" id="area" placeholder="请输入面积">
        </label>

        <button type="submit">发送报价到手机</button>
      </div>
    </div>
  </section>
  <section class="module why-choose-us-container">
    <div class="module-title">
      <h2>为什么选择我们？</h2>
      <div class="note">WHY CHOOSE US</div>
    </div>
    <div class="center">
      <img src="/public/images/choose-us/choose01.jpg" alt="">
      <img src="/public/images/choose-us/choose02.jpg" alt="">
      <img src="/public/images/choose-us/choose03.jpg" alt="">
    </div>
  </section>
  <section class="module designer-container">
    <div class="module-title">
      <h2>家装设计师推荐</h2>
      <div class="note">众多优秀设计师，为您制定细致入微的个性化方案</div>
    </div>
    <div class="center swiper-parent">
      <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/public/images/designer-info.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/public/images/designer-info.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/public/images/designer-info.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/public/images/designer-info.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/public/images/designer-info.png" alt="">
          </div>
        </div>
      </div>
      <div class="thumb-container">
        <div class="swiper-container gallery-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="img">
                <img src="/public/images/designer-character.png" alt="">
              </div>
              <div class="text">
                <div class="title">吴娜 主任级设计师</div>
                <div class="info">擅长风格：日式、北欧、简约、新中式、loft等擅长风格：日式、北欧、简约、新中式、loft等</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img">
                <img src="/public/images/designer-character.png" alt="">
              </div>
              <div class="text">
                <div class="title">吴娜 主任级设计师</div>
                <div class="info">擅长风格：日式、北欧、简约、新中式、loft等</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img">
                <img src="/public/images/designer-character.png" alt="">
              </div>
              <div class="text">
                <div class="title">吴娜 主任级设计师</div>
                <div class="info">擅长风格：日式、北欧、简约、新中式、loft等</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img">
                <img src="/public/images/designer-character.png" alt="">
              </div>
              <div class="text">
                <div class="title">吴娜 主任级设计师</div>
                <div class="info">擅长风格：日式、北欧、简约、新中式、loft等</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img">
                <img src="/public/images/designer-character.png" alt="">
              </div>
              <div class="text">
                <div class="title">吴娜 主任级设计师</div>
                <div class="info">擅长风格：日式、北欧、简约、新中式、loft等</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>
    </div>
    <div class="center btn-wrap">
      <a href="" class="more-btn">查看更多设计师</a>
    </div>
  </section>
  <section class="module case-container">
    <div class="module-title">
      <h2>装修案例展示</h2>
      <div class="note">装修案例效果图，原创室内设计，找到触动心灵的室内装修案例</div>
    </div>
    <ul class="case-list center clearF">
      <li class="case-item swiper-popup-show fl">
        <div class="img" style="background-image: url(/public/images/case.jpg);"></div>
        <p>装修从烦心到省心，体验高端大气上档次的舒适生活</p>
      </li>
      <li class="case-item swiper-popup-show fl">
        <div class="img" style="background-image: url(/public/images/case.jpg);"></div>
        <p>装修从烦心到省心，体验高端大气上档次的舒适生活</p>
      </li>
      <li class="case-item swiper-popup-show fl">
        <div class="img" style="background-image: url(/public/images/case.jpg);"></div>
        <p>装修从烦心到省心，体验高端大气上档次的舒适生活</p>
      </li>
      <li class="case-item swiper-popup-show fl">
        <div class="img" style="background-image: url(/public/images/case.jpg);"></div>
        <p>装修从烦心到省心，体验高端大气上档次的舒适生活</p>
      </li>
      <li class="case-item swiper-popup-show fl">
        <div class="img" style="background-image: url(/public/images/case.jpg);"></div>
        <p>装修从烦心到省心，体验高端大气上档次的舒适生活</p>
      </li>
      <li class="case-item swiper-popup-show fl">
        <div class="img" style="background-image: url(/public/images/case.jpg);"></div>
        <p>装修从烦心到省心，体验高端大气上档次的舒适生活</p>
      </li>
    </ul>

    <div class="center btn-wrap">
      <a href="" class="more-btn">更多家装案例</a>
    </div>
  </section>
  <section class="module form-container" style="background-image: url(/public/images/banner.jpg);">
    <form action="" class="form-wrapper">
      <input type="text" placeholder="请输入您的姓名">
      <input type="text" placeholder="请输入您的手机号">
      <button type="submit">提交信息</button>
    </form>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/popup/index.html") %>
  <%= require("html-loader!../common/guarantee/index.html") %>
  <%= require("html-loader!../common/footer/index.html") %>
  <%= require("html-loader!../common/aside/index.html") %>
</body>

</html>