<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <%= require("html-loader!../common/banner/index.html") %>
  <section class="crumbs-container center">
    <ul class="crumbs-list clearF">
      <li class="crumbs-item fl"><a href="">卓尔曼首页</a>&gt;</li>
      <li class="crumbs-item fl"><a href="">案例展示</a></li>
    </ul>
  </section>
  <section class="pro-guarantee-container">
    <ul class="guarantee-list center flex fx-between">
      <li class="guarantee-item">
        <i class="icon iconfont icon-yuyuelaiguanchenggong"></i>
        <p>预约量房</p>
      </li>
      <li class="guarantee-item">
        <i class="icon iconfont icon-measure"></i>
        <p>免费量房设计</p>
      </li>
      <li class="guarantee-item">
        <i class="icon iconfont icon-qianyue"></i>
        <p>定案选材签约</p>
      </li>
      <li class="guarantee-item">
        <i class="icon iconfont icon-zhuangxiu"></i>
        <p>开工交底</p>
      </li>
      <li class="guarantee-item">
        <i class="icon iconfont icon-icon-test"></i>
        <p>工程施工</p>
      </li>
      <li class="guarantee-item">
        <i class="icon iconfont icon-jiaofangyanshou"></i>
        <p>竣工验收</p>
      </li>
      <li class="guarantee-item">
        <i class="icon iconfont icon-baozhang"></i>
        <p>2年售后保障</p>
      </li>
    </ul>
  </section>
  <section class="set-meal-container">
    <div class="set-meal-wrapper center">
      <h2 class="title">房屋整装套餐</h2>
      <ul class="set-meal-list">
        <li class="set-meal-item clearF">
          <div class="left-img fl" style="background-image: url(/public/images/pro-pic.jpg);"></div>
          <div class="right-text fl">
            <div class="title">经适套餐</div>
            <div class="info">
              以套内面积50平米以内32800元/户<br>
              套内面积超出面积增加328元/平米。<br>
              每增加一个卫生间8600元。（别墅/自建房另计）
            </div>
            <div class="reserve">
              <i class="icon iconfont icon-shijian"></i>
              <span>今日预定</span>
            </div>
            <div class="note">签约砸金蛋送家电；金钻工程名额限量抢！</div>
            <dl class="tags clearF">
              <dt class="fl">适用：</dt>
              <dd class="fl clearF">
                <span class="fl">新房</span>
                <span class="fl">小户型</span>
                <span class="fl">三口之家</span>
                <span class="fl">三口之家</span>
                <span class="fl">三口之家</span>
              </dd>
            </dl>
            <button class="subscribe offer-popup-show">我要预约</button>
          </div>
        </li>
        <li class="set-meal-item clearF">
          <div class="left-img fl" style="background-image: url(/public/images/pro-pic.jpg);"></div>
          <div class="right-text fl">
            <div class="title">经适套餐</div>
            <div class="info">
              以套内面积50平米以内32800元/户<br>
              套内面积超出面积增加328元/平米。<br>
              每增加一个卫生间8600元。（别墅/自建房另计）
            </div>
            <div class="reserve">
              <i class="icon iconfont icon-shijian"></i>
              <span>今日预定</span>
            </div>
            <div class="note">签约砸金蛋送家电；金钻工程名额限量抢！</div>
            <dl class="tags clearF">
              <dt class="fl">适用：</dt>
              <dd class="fl clearF">
                <span class="fl">新房</span>
                <span class="fl">小户型</span>
                <span class="fl">三口之家</span>
                <span class="fl">三口之家</span>
                <span class="fl">三口之家</span>
              </dd>
            </dl>
            <button class="subscribe offer-popup-show">我要预约</button>
          </div>
        </li>
        <li class="set-meal-item clearF">
          <div class="left-img fl" style="background-image: url(/public/images/pro-pic.jpg);"></div>
          <div class="right-text fl">
            <div class="title">经适套餐</div>
            <div class="info">
              以套内面积50平米以内32800元/户<br>
              套内面积超出面积增加328元/平米。<br>
              每增加一个卫生间8600元。（别墅/自建房另计）
            </div>
            <div class="reserve">
              <i class="icon iconfont icon-shijian"></i>
              <span>今日预定</span>
            </div>
            <div class="note">签约砸金蛋送家电；金钻工程名额限量抢！</div>
            <dl class="tags clearF">
              <dt class="fl">适用：</dt>
              <dd class="fl clearF">
                <span class="fl">新房</span>
                <span class="fl">小户型</span>
                <span class="fl">三口之家</span>
                <span class="fl">三口之家</span>
                <span class="fl">三口之家</span>
              </dd>
            </dl>
            <button class="subscribe offer-popup-show">我要预约</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="case-wrapper center">
      <h2 class="title">房屋整装案例</h2>
      <ul class="case-list clearF">
        <li class="case-item swiper-popup-show fl">
          <div class="img" style="background-image: url(/public/images/case_pic.jpg);"></div>
          <div class="text">
            <div class="title">135.00㎡ 三室二厅二厨二卫</div>
            <div class="tags">
              <a href="#">新中式风格</a>
              <a href="#">三居室</a>
            </div>
          </div>
        </li>
        <li class="case-item swiper-popup-show fl">
          <div class="img" style="background-image: url(/public/images/case_pic.jpg);"></div>
          <div class="text">
            <div class="title">135.00㎡ 三室二厅二厨二卫</div>
            <div class="tags">
              <a href="#">新中式风格</a>
              <a href="#">三居室</a>
            </div>
          </div>
        </li>
        <li class="case-item swiper-popup-show fl">
          <div class="img" style="background-image: url(/public/images/case_pic.jpg);"></div>
          <div class="text">
            <div class="title">135.00㎡ 三室二厅二厨二卫</div>
            <div class="tags">
              <a href="#">新中式风格</a>
              <a href="#">三居室</a>
            </div>
          </div>
        </li>
        <li class="case-item swiper-popup-show fl">
          <div class="img" style="background-image: url(/public/images/case_pic.jpg);"></div>
          <div class="text">
            <div class="title">135.00㎡ 三室二厅二厨二卫</div>
            <div class="tags">
              <a href="#">新中式风格</a>
              <a href="#">三居室</a>
            </div>
          </div>
        </li>
        <li class="case-item swiper-popup-show fl">
          <div class="img" style="background-image: url(/public/images/case_pic.jpg);"></div>
          <div class="text">
            <div class="title">135.00㎡ 三室二厅二厨二卫</div>
            <div class="tags">
              <a href="#">新中式风格</a>
              <a href="#">三居室</a>
            </div>
          </div>
        </li>
        <li class="case-item swiper-popup-show fl">
          <div class="img" style="background-image: url(/public/images/case_pic.jpg);"></div>
          <div class="text">
            <div class="title">135.00㎡ 三室二厅二厨二卫</div>
            <div class="tags">
              <a href="#">新中式风格</a>
              <a href="#">三居室</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/guarantee/index.html") %>
  <%= require("html-loader!../common/footer/index.html") %>
  <%= require("html-loader!../common/popup/index.html") %>
  <%= require("html-loader!../common/aside/index.html") %>
</body>

</html>